/* 1000px */
@media (max-width: 62.5em) {
  .japanese-writing {
    font-size: 2rem;
  }
  figure img {
    height: 14.1rem;
    width: 18.1rem;
  }
}
/* 800px */
@media (max-width: 50em) {
  .japanese-writing {
    font-size: 1.8rem;
  }
  figure img {
    height: 11.2rem;
    width: 14.1rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  .second-nav img {
    height: 0.9rem;
    width: 0.9rem;
  }
  .fst-txt {
    font-size: 1.4rem;
  }
  .scd-txt {
    font-size: 1.1rem;
  }
}
/* 700px */
@media (max-width: 43.75em) {
  .japanese-writing {
    font-size: 1.6rem;
  }

  .fst-txt {
    font-size: 1.5rem;
  }
  .scd-txt {
    font-size: 1rem;
  }
  figure img {
    height: 9.5rem;
    width: 12rem;
  }
  h1 {
    font-size: 0.65rem;
  }
  .btn {
    font-size: 0.65rem;
  }
  .second-nav img {
    height: 0.8rem;
    width: 0.8rem;
  }
  footer h4 {
    font-size: 1.2rem;
  }
  footer li {
    font-size: 1rem;
  }
}
